<h2>Shopping Cart</h2>

<h2 class="orders-header">All Orders</h2>

<ul class="products-list orders-list">
	<li ng-repeat="order in orders">
		<div class="media">
			<p>Order ID: {{ order.order_id }}</p>
			<p>Placed on: {{ order.fullDate }}</p>
			<p>By user: {{ order.email }}</p>
			
			<ul class="products-list orders-list">
				<li ng-repeat="product in order.products">
					<p><a href="#/product/{{ order.product_id }}">{{ product.title }}</a></p>
					<p>Price: €{{ product.price }}</p>
					<p>Quantity: {{ product.quantity }}</p>
				</li>
			</ul>
		</div>
	</li>
</ul>